
body {
    height: 100vh;
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    background-color: beige;
}

h1 {
    margin: 0;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(71, 71, 228);
    color: white;
    text-shadow: 0px 0px 2px white;
    box-shadow: 0px 0px 6px rgb(71, 71, 228);
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgb(71, 71, 228);
}
        input:focus {
            outline: 2px solid rgb(71, 71, 228);
            box-shadow: 0px 0px 7px rgb(71, 71, 228);
            caret-color: rgb(71, 71, 228);
        }

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    text-shadow: 0px 0px 1px white;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    border: none;
}

        button:active {
            box-shadow: none;
            background-color: rgb(94, 94, 94);
        }

        #botonAñadirImportante {background-color: rgb(207, 1, 1);}
        #botonBorrarTarea {
            display: flex; justify-content: center; align-items: center;
            text-align: center;
            font-size: 0.5rem;
            height: 0.2rem; width: 0.2rem;
        }

li {
    display: flex; align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

ul {
    margin: 0;
    display: flex; flex-direction: column; gap: 1rem;
}

.contenedor {
    display: flex; align-items: center;
    height: 100%; width: 100%; 
}

    .parte-izquierda {
        width: 20%; height: fit-content;
        padding-top: 2rem; padding-bottom: 2rem;
        display: flex; flex-direction: column; align-items: center;
        gap: 1rem;
        border: 2px solid black; border-radius: 20px;
    }

    .parte-derecha {
        width: 80%; height: 85%;
        display: flex; flex-direction: row;
    }
        #listaTareas {
            display: flex; flex-direction: column;
            width: 50%; height: 100%;
            text-shadow: 0px 0px 2px black;
        }

        #listaImportantes {
            display: flex; flex-direction: column;
            width: 50%; height: 100%;
            text-shadow: 0px 0px 2px black;
        }
            #listaImportantes h1 {
                background-color: rgb(207, 1, 1);
                box-shadow: 0px 0px 6px rgb(207, 1, 1);
            }

/* Clases para JavaScript */
.completadas {text-decoration: line-through;}